.ndtic-link {
    color: #60C300 !important;
}

.ndtic-brand {
    font-size: 1.5rem !important;
}

.bgMainColor {
    background-color: #F4F4F4;
}

.containerTabela{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.form-legenda {
    color:red;
}

.pagination > li > a{
    color: #60C300 !important;
}

.pagination > .disabled > span {
    background-color: rgba(0,0,0,.03) !important;
    color: gray !important;
    opacity: .65;
}

.pagination > li > span {
    color: white !important;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #60C300 !important;
    border-color: #60C300 !important;
}

#spinner-div {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 50;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

th > a {
    color: #000;
    text-decoration: underline;
}

/* Summernote | fix conflict with bootstrap */
.note-editor .dropdown-toggle::after {
    all: unset;
}

.note-editor .note-dropdown-menu {
    box-sizing: content-box;
}

.note-editor .note-modal-footer {
    box-sizing: content-box;
}

/* Twitter Typeahead */
.typeahead, .tt-query, .tt-hint {
	/* border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px;
	height: 30px;
	line-height: 30px;*/
	outline: medium none;
	/*padding: 8px 12px;
	width: 396px; */
}
/* .typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
} */
.twitter-typeahead{
    display: block !important;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	/* font-size: 22px;  Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
